{% extends "base.html" %}
{% block content %}
<h1>Add a new post!</h1>

<br><br>

<form method="POST">
    <label for="new-title">
        Title for your new blog:
        <br>
        <input type ="text" name="new-title" id="new-title"/>
    </label>
    <p>{{title_error}}</p>
    <br><br>
    <label for="new-body">
        Your new blog:
        <br>
        <textarea rows="4" cols="50" name="new-body" id="new-body"></textarea>
    </label>
    <p>{{body_error}}</p>
    <br>
    <input type="submit" value="Post!" />

</form>

{% endblock %}